easydict==1.11
editdistance=0.6.2
lmdb==1.4.1
matplotlib==3.8.0
numpy==1.23.5
opencv-python==4.9.0.80
Pillow==10.0.1
six==1.16.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.0
torch==2.1.1+cu118
torchvision==0.16.1
tqdm==4.65.0
pyyaml==6.0.1
ipython==8.15.0
future==0.18.3
natsort==8.4.0
setuptools==68.0.0
datasets==2.12.0
